#edit-status,
#edit-server-stop,
#edit-subs,
#edit-subs-new {
  display: none;
}

#edit-status label {
  display: inline;
  margin-right: 16px;
}

.server-status {
  border-radius: 16px;
  color: #FFF;
  font-style: italic;
  font-weight: bold;
  padding: 4px 14px 4px 10px;
  text-transform: uppercase;
}

.server-status.server-status-off {
  background-color: #A00;
}

.server-status.server-status-on {
  background-color: #0A0;
  display: none;
}
