#edit-status,
#edit-server-stop,
#edit-subs,
#edit-subs-new,
#client-list {
  display: none;
}

#edit-status label {
  display: inline;
  margin-right: 16px;
}

.server-status {
  border-radius: 16px;
  color: #FFF;
  font-style: italic;
  font-weight: bold;
  padding: 4px 14px 4px 10px;
  text-transform: uppercase;
}

.server-status.server-status-off {
  background-color: #A00;
}

.server-status.server-status-on {
  background-color: #0A0;
  display: none;
}

/**
 * Moderation
 */
#stop-moderation {
  display: none;
}

#edit-moderation {
  display: none;
  padding-top: 0;
}

#edit-moderation > div {
  background-color: #E1E2DC;
  overflow: hidden;
  padding: 0;
}

.sigma-widget {
  float: left;
  padding: 0 32px;
}

.sigma-widget .title {
  text-align: center;
}

.sigma-widget .sigma-content {
  background-color: #EEE;
  border: 4px solid #A6A7A2;
  border-radius: 8px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.sigma-widget.sigma-new {
  width: 458px;
}

.sigma-widget.sigma-new .sigma-content {
  width: 450px;
}

.sigma-widget.sigma-accepted {
  width: 308px;
}

.sigma-widget.sigma-accepted .sigma-content {
  width: 300px;
}

.sigma-widget.sigma-featured {
  width: 158px;
}

.sigma-widget.sigma-featured .sigma-content {
  width: 150px;
}

.sigma-widget .sigma-content .sigma-image {
  position: absolute;
}

.sigma-widget .sigma-content .sigma-image.accepted,
.sigma-widget .sigma-content .sigma-image.featured {
  border: 9px solid;
  margin: 1px;
}

.sigma-widget .sigma-content .sigma-image.accepted {
  border-color: #0F7;
}

.sigma-widget .sigma-content .sigma-image.featured {
  border-color: #07F;
}

.sigma-widget .sigma-content .sigma-image.accepted img,
.sigma-widget .sigma-content .sigma-image.featured img {
  height: 130px;
  opacity: .5;
  width: 130px;
}

.sigma-widget .sigma-content .sigma-image img {
  display: block;
}
